
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/meineabos.db
/vendor/
###< symfony/framework-bundle ###
/.idea/
/__MACOSX/
/public/img/deineabos.afdesign
