<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMDItemKeywords</key>
	<array>
		<string>Subscription</string>
		<string>startDate</string>
		<string>paymentType</string>
		<string>PaymentType</string>
		<string>paymentPeriod</string>
		<string>Ressourcen</string>
		<string>payments</string>
		<string>cancelDate</string>
		<string>paymentAmount</string>
	</array>
	<key>kMDItemTextContent</key>
	<string>deine-abos.de
Api
Ressourcen
Subscription
name*
payments
IOS-App
WEB-App
startDate*
cancelDate
paymentPeriod
paymentType
paymentAmount
PaymentType</string>
</dict>
</plist>
