{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div>
            <h2 class="text-center">
                {{ title }}
            </h2>
        </div>
        <div>
            {{ form(formular) }}
        </div>

    </div>

{% endblock %}
