{% extends 'base.html.twig' %}
 {% block body %}
     <div class="container">
         <tbody>
         <div class="row">
             {% for subscription in subscriptions %}
                 {% include 'subscription/includes/subscription_detail.html.twig' %}
             {% endfor %}
         </div>

         </tbody>
     </div>

 {% endblock %}