{% extends 'base.html.twig' %}
 {% block body %}
     <div class="container" id="nonprescription">
         <div>
             <h3 class="text-center">Neue Subscription anlegen</h3>
         </div>
         <div class="container card-meine-abos">
             {{ form_start(formular) }}
             {% include 'subscription/includes/form_detail_new.html.twig' %}
             {{ form_end(formular) }}
         </div>

     </div>


 {% endblock %}